.sidebar {
    width: 220px;
    background-color: #1d3557;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 30px 20px 10px 20px;
  }
  .sidebar h2 {
    margin-bottom: 10px;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  .sidebar li {
    padding: 5px 0;
    cursor: pointer;
    font-size: 0.9rem;
  }
  .no-projects-message {
    color: #a8dadc;
    font-style: italic;
    margin-top: 20px;
    font-size: 0.8rem;
  }
  
  